@{
    ViewData["Title"] = "FabianMusic";
}

<div class="container">
    <header>
        
        <img id="logo" alt="FabianMusic logo" src="~/images/MusicNotes.jpg"
        class="img-fluid rounded" />
    
    <h1 class="display-4">Welcome to FabianMusic</h1>
        @*<ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#privacy">Privacy</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>*@
    </header>
    <br />
    <main>
    <div class="row">
        <div class="col-6">
        FabianMusic is a retail music store application that helps users buy their favorite artists 
        in their favorite format. This application categorizes artists by music genre and by album or 
        single release date. What makes FabianMusic different from the competition is that users can 
        buy the record in vinyl, CD, and/or digital (MP3, WAV, M4A).</div>
        
        <div class="col-6">FabianMusic is the perfect tool for music collectors around the country. The application 
        collaborates with dozens of verified small music retailers around the globe that use the 
        application to reach a broader audience. FabianMusic is a great tool for people that care 
        about the art and audio quality of their favorite music, as well as for users that want to 
        offer their music collection to a bigger market.</div>
    </div>
    </main>
</div>
