@{
    ViewData["Title"] = "FabianMusic";
}

<div class="container">
    <header>
        
        <img id="logo" alt="FabianMusic logo" src="~/images/MusicNotes.jpg"
        class="img-fluid rounded" />
    
    <h1 class="display-4">About FabianMusic</h1>
        @*<ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#privacy">Privacy</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>*@
    </header>
    <br />
    <main>
    <div class="row">
            <h3>History</h3>
        <br/>
        <div class="col-12">
        FabianMusic was founded in 2015 by a group of music enthusiasts with a vision to 
        revolutionize the way people access and collect music. Starting as a passion project, 
        the company quickly gained traction by offering a unique platform for music lovers to 
        purchase their favorite artists' work in various formats. 
        Over the years, FabianMusic has grown into a global music retail powerhouse, collaborating 
        with numerous small music retailers worldwide to expand its reach to the diverse 
        preferences of music collectors.</div>
        <br/>
        <br/>
            <h3>Mission</h3>
        <br/>
    <div class="col-12">
        At FabianMusic, our mission is to empower music enthusiasts and collectors worldwide by 
        providing a curated and diverse selection of their favorite artists' music in their 
        preferred formats. We are committed to enhancing the music shopping experience by 
        categorizing artists based on genre and release date, enabling users to explore and 
        discover new musical treasures. By collaborating with verified small music retailers 
        globally, we aim to connect passionate music lovers with their cherished music in vinyl, 
        CD, and digital formats while fostering a community that values both artistic integrity 
        and audio quality. FabianMusic is dedicated to making music accessible, shareable, and 
        memorable for everyone.</div>
        <br />
        <br />
            <h3>Vision</h3>
        <br />
    <div class="col-12">
        At FabianMusic, we envision a world where the joy of music knows no bounds. Our vision is 
        to be the foremost destination for music collectors, aficionados, and artists alike, 
        transcending borders and bridging generations. We aspire to continually innovate our 
        platform, offering an ever-expanding catalog of artists and formats, while staying true 
        to our commitment to sound quality while supporting and protecting the artist's work. 
        Through our collaborative spirit with small music retailers across the globe, we strive 
        to create a global community that celebrates the richness of music, making it accessible 
        to all, and leaving an permanent mark on the world's cultural tapestry.
            </div>
    </div>
    </main>
</div>
