@{
    ViewData["Title"] = "Events";
}
<header>
    <h1 class="display-4 text-center "> Events </h1>
</header>
<div>
<p>These are our upcoming events:
    <br/>
</p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Vinyl and CD Exchange</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">(All ages)</h6>
        <p class="card-text">Come to buy, sell, and/or exchange CD and vinyl.</p>
        <p class="card-text">November 25th | 11AM - 2PM | 121 Main St</p>
            <h6 class="mb-2 text-body-secondary"> Open Admision </h6>
  </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">FabianMusic Fest</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">(21+)</h6>
        <p class="card-text">Live Music, DJs, Food Trucks, and Local Vendors.</p>
        <p class="card-text">November 26th | 3PM - 8PM | 1750 Lincoln Ave</p>
            <h6 class="mb-2 text-body-secondary"> $10 - Pay at the door </h6>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Christmas Music Donation</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">(All ages)</h6>
        <p class="card-text">Donate books, vinyls, CDs, and music equipment for charity.</p>
        <p class="card-text">December 23rd | 11AM - 3PM | 121 Main St</p>
            <h6 class="mb-2 text-body-secondary"> Open Admision </h6>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">New Years Eve Party</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">(21+)</h6>
        <p class="card-text">Live Music, DJs, Food and Drinks.</p>
        <p class="card-text">December 27th | 9PM - 4AM | 121 Main St</p>
            <h6 class="mb-2 text-body-secondary"> $20 - Pay at the door </h6>
    </div>
</div>
<footer class="border-top footer text-muted">

    &copy; 2023 - FabianMusic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

</footer>
</div>